<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chansons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chansons</ion-title>
    </ion-toolbar>
  </ion-header>
Ajouter une nouvelle chanson

<p>
    Ajouter le fichier
</p>
<input type="file" (change)="onFileChange($event)" />

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
